:root {
  font-family: PressStart2P, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #ffffff;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  background-color: #2f2f2f7b;
  background-image: url("assets/back.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  
  background-blend-mode: multiply;
}


.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}


.row {

  width: 75%;
  height: 50vh;
  flex-wrap: wrap;
  display: flex;

  flex-direction: column;
  align-self: center;
  justify-content: space-between;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
  
}


input,
button {
  outline: none;

  border-radius: 8px;
  border: 1px solid transparent;
  border-color: rgba(0, 0, 0, 0.313);

  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: white;
  background-color: #242424c9;
  backdrop-filter: blur(3px);
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

input::placeholder{
  color: rgba(255, 255, 255, 0.189);
}

button{
  cursor: pointer;
  width: 40%;
  height: 15%;
  align-self: center;
}

button:hover {
  border-color: #19e027;
}
button:active {
  border-color: #396cd8;
}

#greet-input {
  margin-right: 5px;
}

.first, .second{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* @media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }
} */

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input:focus{
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.77);
  transition: .5s ease-out;
}

.input-field{
  height: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

#logo-img{
  width: 50%;
  align-self: center;
}

#music_btn{
  width: 4%;
  position: absolute;
}


#music_btn:hover{
  transform: scale(1.1);
  transition: .3s ease;
}